{% extends "base.html" %}

{% block app_content %}
    <div class="row"><h1>Hi, {{ current_user.username }}!</h1></div>
    <div id="chart"></div>
    <hr>
    {% if plot_data['z'] %}
    <div class="row"><h2>Totals:</h2></div>
    <div class="row">
    {% for a,c in totals.items(): %}
        {% if c != 0 %}
        <div class="col-md-3 text-center">
            <h3>{{a.name}}</h3>
            <p class="lead">{{c}}<p>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <h2>It's so empty here!</h2>
            <p> Looks like you haven't added any activities yet! Get started now by <a href="{{url_for('addactivity')}}">adding your first</a>.
        </div>
    {% endif %}
{% endblock %}

{% block app_scripts %}
    {% if plot_data['z'] %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var data = [
            {
                y:  [ {% for y in plot_data['y'] %} '{{y}}', {% endfor %} ],
                x:  [ {% for x in plot_data['x'] %} '{{x}}', {% endfor %} ],
                z:  [ {% for z in plot_data['z'] %}[{% for d in z %} '{{d}}', {% endfor %}],{% endfor %} ],
                type: 'heatmap',
                colorscale: [[0, '#3D9970'],[1, '#FFBB00']]
            }
        ]
        var layout = {
          title:'Activity'
        };
        Plotly.newPlot('chart', data,  layout);
    </script>
    {% endif %}
{% endblock %}
