{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div id="chart"></div>
    <hr>
    <h2>Totals:</h2>
    <div class="row">
    {% for a,c in totals.items(): %}
        {% if c != 0 %}
        <div class="col-md-3 text-center">
            <h3>{{a.name}}</h3>
            <p class="lead">{{c}}<p>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block app_scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var data = [
        {% for a_t, dates in activities.items(): %}
        {

            x: [ {% for d,c in dates.items() %}'{{d}}',{% endfor %} ],
            y: [ {% for d,c in dates.items() %}'{{c}}',{% endfor %} ],
            name: '{{a_t.name}}',
            type: 'bar'

        },
        {% endfor %}
        ];
        var layout = {
          xaxis: {
            type: 'date',
            title: 'Day',
            tickformat : "%a <br> %d %b",
            dtick: '1D'
          },
          yaxis: {
            title: 'Amount',
            rangemode: 'tozero',

          },
          title:'Activity'
        };
        Plotly.newPlot('chart', data, layout);
    </script>
{% endblock %}
